# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.*.local
!.env.example

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/*.sqlite
prisma/migrations/

# Build output
dist/
build/
coverage/
.next/
out/

# Optional npm cache directory
.npm/

# TypeScript
*.tsbuildinfo

# VSCode settings
.vscode/
.history/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*.swp

# Optional: remove lockfiles if you only use one package manager
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

/src/generated/prisma

/src/generated/prisma
